@charset "utf-8";

.left { text-align: left!important; }
.center { text-align: center; }
.right { text-align: right; }
.dpn { display: none; }
.hidden { position: absolute; width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -10000px; overflow: hidden; }
.vam { vertical-align: middle; }
.ofh { overflow: hidden; }
.ofh_w100{ overflow: hidden; width: 100%; } 
.clear { clear: both; }
.fb400 { font-weight: 400 !important; }
.fb500 { font-weight: 500 !important; }
.fb600 { font-weight: 600 !important; }
.bold { font-weight: 700 !important; }
.eBold { font-weight: 800 !important; }
.fwn { font-weight: normal; }
.floatleft { float: left; }
.floatright { float: right; }
.noneborder { border: none !important; }
.nonebg { background-image: none !important; }
.b1 {border: 1px solid #eee; }
.bt1 {border-top: 1px solid #eee;}
.bb1 {border-bottom:1px solid #eee;}
.btN {border-top:none !important;}
.imgfix { font-size: 0; line-height: 0; }
.after:after {content:"";display:block; clear:both;}
.dB {display:block;}
.dN {display:none;}

.w5 { width: 5% !important; }
.w10 { width: 10% !important; }
.w15 { width: 15% !important; }
.w20 { width: 20% !important; }
.w25 { width: 25% !important; }
.w30 { width: 30% !important; }
.w35 { width: 35% !important; }
.w40 { width: 40% !important; }
.w45 { width: 45% !important; }
.w50 { width: 50% !important; }
.w55 { width: 55% !important; }
.w60 { width: 60% !important; }
.w65 { width: 65% !important; }
.w70 { width: 70% !important; }
.w75 { width: 75% !important; }
.w80 { width: 80% !important; }
.w85 { width: 85% !important; }
.w90 { width: 90% !important; }
.w95 { width: 95% !important; }
.w100 { width: 100% !important; }
.wd200 {width: 200px!important; padding: 0 1px!important}
.h5 { height: 5px !important; }
.h10 { height: 10px !important; }
.h15 { height: 15px !important; }
.h20 { height: 20px !important; }
.h25 { height: 25px !important; }
.h30 { height: 30px !important; }
.h35 { height: 35px !important; }
.h40 { height: 40px !important; }
.h45 { height: 45px !important; }
.h50 { height: 50px !important; }
.h55 { height: 55px !important; }
.h60 { height: 60px !important; }
.h65 { height: 65px !important; }
.h70 { height: 70px !important; }
.h75 { height: 75px !important; }
.h80 { height: 80px !important; }
.h85 { height: 85px !important; }
.h90 { height: 90px !important; }
.h95 { height: 95px !important; }
.h100 { height: 100px !important; }
.mgt_0 { margin-top: 0px!important; }
.mgt_5 { margin-top: 5px; }
.mgt_6 { margin-top: 6px!important; }
.mgt_10 { margin-top: 10px!important;}
.mgt_15 { margin-top: 15px !important; }
.mgt_20 { margin-top: 20px !important; }
.mgt_25 { margin-top: 25px !important; }
.mgt_30 { margin-top: 30px !important; }
.mgt_35 { margin-top: 35px !important; }
.mgt_40 { margin-top: 40px !important; }
.mgt_45 { margin-top: 45px !important; }
.mgt_50 { margin-top: 50px !important; }
.mgt_55 { margin-top: 55px !important; }
.mgt_60 { margin-top: 60px !important; }
.mgt_65 { margin-top: 65px !important; }
.mgt_70 { margin-top: 70px !important; }
.mgt_75 { margin-top: 75px !important; }
.mgt_80 { margin-top: 80px !important; }
.mgt_85 { margin-top: 85px !important; }
.mgt_90 { margin-top: 90px !important; }
.mgt_95 { margin-top: 95px !important; }
.mgt_100 { margin-top: 100px !important; }
.mgt_120 { margin-top: 120px !important; }
.mgr_0 { margin-right: 0 !important; }
.mgr_5 { margin-right: 5px !important; }
.mgr_10 { margin-right: 10px !important; }
.mgr_12 { margin-right: 12px !important; }
.mgr_15 { margin-right: 15px !important; }
.mgr_20 { margin-right: 20px !important; }
.mgr_25 { margin-right: 25px !important; }
.mgr_30 { margin-right: 30px !important; }
.mgr_35 { margin-right: 35px !important; }
.mgr_40 { margin-right: 40px !important; }
.mgr_45 { margin-right: 45px !important; }
.mgr_50 { margin-right: 50px !important; }
.mgr_55 { margin-right: 55px !important; }
.mgr_60 { margin-right: 60px !important; }
.mgr_65 { margin-right: 65px !important; }
.mgr_70 { margin-right: 70px !important; }
.mgr_75 { margin-right: 75px !important; }
.mgr_80 { margin-right: 80px !important; }
.mgr_85 { margin-right: 85px !important; }
.mgr_90 { margin-right: 90px !important; }
.mgr_95 { margin-right: 95px !important; }
.mgr_100 { margin-right: 100px !important; }

.mgb_0 { margin-bottom: 0px !important  }
.mgb_5 { margin-bottom: 5px !important; }
.mgb_10 { margin-bottom: 10px !important; }
.mgb_12 { margin-bottom: 12px !important; }
.mgb_15 { margin-bottom: 15px !important; }
.mgb_20 { margin-bottom: 20px !important; }
.mgb_25 { margin-bottom: 25px !important; }
.mgb_30 { margin-bottom: 30px !important; }
.mgb_35 { margin-bottom: 35px !important; }
.mgb_40 { margin-bottom: 40px !important; }
.mgb_45 { margin-bottom: 45px !important; }
.mgb_50 { margin-bottom: 50px !important; }
.mgb_55 { margin-bottom: 55px !important; }
.mgb_60 { margin-bottom: 60px !important; }
.mgb_65 { margin-bottom: 65px !important; }
.mgb_70 { margin-bottom: 70px !important; }
.mgb_75 { margin-bottom: 75px !important; }
.mgb_80 { margin-bottom: 80px !important; }
.mgb_85 { margin-bottom: 85px !important; }
.mgb_90 { margin-bottom: 90px !important; }
.mgb_95 { margin-bottom: 95px !important; }
.mgb_100 { margin-bottom: 100px !important; }
.mgb_150 { margin-bottom: 150px !important; }
.mgb_200 { margin-bottom: 200px !important; }

.mgl_0 { margin-left: 0px !important; }
.mgl_5 { margin-left: 5px !important; }
.mgl_10 { margin-left: 10px !important; }
.mgl_12 { margin-left: 12px !important; }
.mgl_15 { margin-left: 15px !important; }
.mgl_20 { margin-left: 20px !important; }
.mgl_25 { margin-left: 25px !important; }
.mgl_30 { margin-left: 30px !important; }
.mgl_35 { margin-left: 35px !important; }
.mgl_40 { margin-left: 40px !important; }
.mgl_45 { margin-left: 45px !important; }
.mgl_50 { margin-left: 50px !important; }
.mgl_55 { margin-left: 55px !important; }
.mgl_60 { margin-left: 60px !important; }
.mgl_65 { margin-left: 65px !important; }
.mgl_70 { margin-left: 70px !important; }
.mgl_75 { margin-left: 75px !important; }
.mgl_80 { margin-left: 80px !important; }
.mgl_85 { margin-left: 85px !important; }
.mgl_90 { margin-left: 90px !important; }
.mgl_95 { margin-left: 95px !important; }
.mgl_100 { margin-left: 100px !important; }
.mgl_105 { margin-left: 105px !important; }
.mgl_125 { margin-left: 125px !important; }

.pd_a0 { padding:0px !important; }
.pdt_0 { padding-top: 0px !important; }
.pdt_5 { padding-top: 5px !important; }
.pdt_10 { padding-top: 10px !important; }
.pdt_15 { padding-top: 15px !important; }
.pdt_20 { padding-top: 20px !important; }
.pdt_25 { padding-top: 25px !important; }
.pdt_30 { padding-top: 30px !important; }
.pdt_35 { padding-top: 35px !important; }
.pdt_40 { padding-top: 40px !important; }
.pdt_45 { padding-top: 45px !important; }
.pdt_50 { padding-top: 50px !important; }
.pdt_55 { padding-top: 55px !important; }
.pdt_60 { padding-top: 60px !important; }
.pdt_65 { padding-top: 65px !important; }
.pdt_70 { padding-top: 70px !important; }
.pdt_75 { padding-top: 75px !important; }
.pdt_80 { padding-top: 80px !important; }
.pdt_85 { padding-top: 85px !important; }
.pdt_90 { padding-top: 90px !important; }
.pdt_95 { padding-top: 95px !important; }
.pdt_100 { padding-top: 100px !important; }

.pdr_0 { padding-right: 0px !important; }
.pdr_5 { padding-right: 5px !important; }
.pdr_10 { padding-right: 10px !important; }
.pdr_15 { padding-right: 15px !important; }
.pdr_20 { padding-right: 20px !important; }
.pdr_25 { padding-right: 25px !important; }
.pdr_30 { padding-right: 30px !important; }
.pdr_35 { padding-right: 35px !important; }
.pdr_40 { padding-right: 40px !important; }
.pdr_45 { padding-right: 45px !important; }
.pdr_50 { padding-right: 50px !important; }
.pdr_55 { padding-right: 55px !important; }
.pdr_60 { padding-right: 60px !important; }
.pdr_65 { padding-right: 65px !important; }
.pdr_70 { padding-right: 70px !important; }
.pdr_75 { padding-right: 75px !important; }
.pdr_80 { padding-right: 80px !important; }
.pdr_85 { padding-right: 85px !important; }
.pdr_90 { padding-right: 90px !important; }
.pdr_95 { padding-right: 95px !important; }
.pdr_100 { padding-right: 100px !important; }

.pdb_0 { padding-bottom: 0px !important; }
.pdb_5 { padding-bottom: 5px !important; }
.pdb_10 { padding-bottom: 10px !important; }
.pdb_15 { padding-bottom: 15px !important; }
.pdb_20 { padding-bottom: 20px !important; }
.pdb_25 { padding-bottom: 25px !important; }
.pdb_30 { padding-bottom: 30px !important; }
.pdb_35 { padding-bottom: 35px !important; }
.pdb_40 { padding-bottom: 40px !important; }
.pdb_45 { padding-bottom: 45px !important; }
.pdb_50 { padding-bottom: 50px !important; }
.pdb_55 { padding-bottom: 55px !important; }
.pdb_60 { padding-bottom: 60px !important; }
.pdb_65 { padding-bottom: 65px !important; }
.pdb_70 { padding-bottom: 70px !important; }
.pdb_75 { padding-bottom: 75px !important; }
.pdb_80 { padding-bottom: 80px !important; }
.pdb_85 { padding-bottom: 85px !important; }
.pdb_90 { padding-bottom: 90px !important; }
.pdb_95 { padding-bottom: 95px !important; }
.pdb_100 { padding-bottom: 100px !important; }

.pdl_0 { padding-left: 0px !important; }
.pdl_5 { padding-left: 5px !important; }
.pdl_10 { padding-left: 10px !important; }
.pdl_15 { padding-left: 15px !important; }
.pdl_20 { padding-left: 20px !important; }
.pdl_25 { padding-left: 25px !important; }
.pdl_30 { padding-left: 30px !important; }
.pdl_35 { padding-left: 35px !important; }
.pdl_40 { padding-left: 40px !important; }
.pdl_45 { padding-left: 45px !important; }
.pdl_50 { padding-left: 50px !important; }
.pdl_55 { padding-left: 55px !important; }
.pdl_60 { padding-left: 60px !important; }
.pdl_65 { padding-left: 65px !important; }
.pdl_70 { padding-left: 70px !important; }
.pdl_75 { padding-left: 75px !important; }
.pdl_80 { padding-left: 80px !important; }
.pdl_85 { padding-left: 85px !important; }
.pdl_90 { padding-left: 90px !important; }
.pdl_95 { padding-left: 95px !important; }
.pdl_100 { padding-left: 100px !important; }

.ls-1 { letter-spacing: -1px; }
.ls-2 { letter-spacing: -2px; }
.ls-3 { letter-spacing: -3px; }
.ls-4 { letter-spacing: -4px; }
.ls-5 { letter-spacing: -5px; }

.f11 { font-size: 11px !important; }
.f12 { font-size: 12px !important; }
.f13 { font-size: 13px !important; }
.f14 { font-size: 14px !important; }
.f15 { font-size: 15px !important; }
.f16 { font-size: 16px !important; }
.f17 { font-size: 17px !important; }
.f18 { font-size: 18px !important; }
.f19 { font-size: 19px !important; }
.f20 { font-size: 20px !important; }
.f22 { font-size: 22px !important; }
.fs24 {font-size: 24px !important;}
.fs26 {font-size: 26px !important;}
.fs60 {font-size: 60px !important;}

/* font Color */
.cRed{color: #ee5a5c !important;}
.cBlue{color: #57a2eb !important;}
.cBlue2{color: #466cc2 !important;}
.cWhite{color: #fff !important;}
.cBlack{color: #111 !important;}
.cGray1{color: #838383 !important;}
.cGray2{color: #b4b4b4 !important;}
.cGray3{color: #d0d0d0 !important;}
.cGray4{color: #7a818a !important;}

/* backgroudn Color */
.bgmint {background-color:#59d4b6 !important}
.bgf {background-color:#fff !important}
.bgf3 {background-color:#f3f3f3 !important}
.bgf5 {background-color:#f5f5f5 !important}
.bgf9 {background-color:#f9f9f9 !important}
.bg11 {background-color:#111 !important}
.bg83 {background-color:#838383 !important}
.bgb4 {background-color:#b4b4b4 !important}
.bgd0 {background-color:#d0d0d0 !important}
.bgRed {background-color:#ee5a5c !important}
.bgBlue {background-color:#57a2eb !important}
.bggray {background-color:#f8fafb !important}

/* line-height */
.lh10 {line-height:10px !important;}
.lh11 {line-height:11px !important;}
.lh12 {line-height:12px !important;}
.lh13 {line-height:13px !important;}
.lh14 {line-height:14px !important;}
.lh15 {line-height:15px !important;}
.lh16 {line-height:16px !important;}
.lh17 {line-height:17px !important;}
.lh18 {line-height:18px !important;}
.lh19 {line-height:19px !important;}
.lh20 {line-height:20px !important;}
.lh21 {line-height:21px !important;}
.lh22 {line-height:22px !important;}
.lh23 {line-height:23px !important;}
.lh24 {line-height:24px !important;}
.lh25 {line-height:25px !important;}
.lh26 {line-height:26px !important;}
.lh27 {line-height:27px !important;}
.lh28 {line-height:28px !important;}
.lh29 {line-height:29px !important;}
.lh30 {line-height:30px !important;}

/* display */
.dpflex {display:flex;}
.dpspbe {justify-content:space-between;}
.dpalct {align-items:center;}
.dpblk {display:block;}
.dpinblk {display:inline-block;}

/* position */
.posiRe {position:relative;}
.posiAb {position:absolute;}

/* text-decoration */
.txtde-lt {text-decoration:line-through;}
.txtde-un {text-decoration:underline;}

/* border */
.borTop-1px {border-top:1px solid #d8dbe1 !important;}
.borBotton-1px {border-bottom:1px solid #d8dbe1 !important;}
.borTop-n {border-top:none !important;}