@charset "utf-8";

/* latin */
@font-face {
 font-family: "Noto Sans KR";
 font-style: normal;
 font-weight: 100;
 src: url(../font/NotoSansKR-Thin.woff2) format("woff2"), url(../font/NotoSansKR-Thin.woff) format("woff"), url(../font/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
 font-family: "Noto Sans KR";
 font-style: normal;
 font-weight: 300;
 src: url(../font/NotoSansKR-Light.woff2) format("woff2"), url(../font/NotoSansKR-Light.woff) format("woff"), url(../font/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
 font-family: "Noto Sans KR";
 font-style: normal;
 font-weight: 400;
 src: url(../font/NotoSansKR-Regular.woff2) format("woff2"), url(../font/NotoSansKR-Regular.woff) format("woff"), url(../font/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
 font-family: "Noto Sans KR";
 font-style: normal;
 font-weight: 500;
 src: url(../font/NotoSansKR-Medium.woff2) format("woff2"), url(../font/NotoSansKR-Medium.woff) format("woff"), url(../font/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
 font-family: "Noto Sans KR";
 font-style: normal;
 font-weight: 700;
 src: url(../font/NotoSansKR-Bold.woff2) format("woff2"), url(../font/NotoSansKR-Bold.woff) format("woff"), url(../font/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
 font-family: "Noto Sans KR";
 font-style: normal;
 font-weight: 900;
 src: url(../font/NotoSansKR-Black.woff2) format("woff2"), url(../font/NotoSansKR-Black.woff) format("woff"), url(../font/NotoSansKR-Black.otf) format("opentype");
}

/*
 * Noto Sans Korean (CJK)
 */
@font-face {
  font-family: 'Noto Sans CJK WF';
  font-style: normal;
  font-weight: normal;
  src: url('../font/NotoSansCJK-Regular.eot');
  src: local('※'),
       url('../font/NotoSansCJK-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/NotoSansCJK-Regular.woff2') format('woff2'),
       url('../font/NotoSansCJK-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans CJK WF';
  font-style: normal;
  font-weight: 300;
  src: url('../font/NotoSansCJK-Light.eot');
  src: local('※'),
       url('../font/NotoSansCJK-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/NotoSansCJK-Light.woff2') format('woff2'),
       url('../font/NotoSansCJK-Light.woff') format('woff');
}


@font-face {
  font-family: 'Noto Sans CJK WF';
  font-style: normal;
  font-weight: 500;
  src: url('../font/NotoSansCJK-Medium.eot');
  src: local('※'),
       url('../font/NotoSansCJK-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/NotoSansCJK-Medium.woff2') format('woff2'),
       url('../font/NotoSansCJK-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans CJK WF';
  font-style: normal;
  font-weight: 700;
  src: url('../font/NotoSansCJK-Bold.eot');
  src: local('※'),
       url('../font/NotoSansCJK-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/NotoSansCJK-Bold.woff2') format('woff2'),
       url('../font/NotoSansCJK-Bold.woff') format('woff');
}

