table.table,
table.table td {
  border: 1pt solid #333333;
}
table.table tr:first-child > td {background: #E8E8E8; border: 1pt solid #333333;}
table.table td {text-align: center; word-break: keep-all;}
table.table tr:not(:first-child) > td {font-size: 10.0pt;}